{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ category.name }}
{% endblock %}

{% block page_title %}
	<a href="{{ path("category_index")}}" class=" text-decoration-none">
		<h1>{{category.name}}
		</h1>
	</a>
{% endblock %}

{% block body %}
	<a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning" role="button">Editer</a>
	{{ include('category/_delete_form.html.twig') }}
	<div class="accordion accordion-flush" id="programAccordion">
		{% for program in programs %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-{{program.id}}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{program.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
						{{ program.title }}
					</button>
				</h2>
				<div id="flush-collapse-{{program.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{program.id}}" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>{{ program.summary }}</p>
						<a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-secondary m-4" role="button">Voir la fiche</a>
					</div>
				</div>
			</div>
		{% else %}
			<p class="m-5">
				Aucune série trouvée.
			</p>
		{% endfor %}
	</div>

	<a href="{{ path('category_index') }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>
{% endblock %}
