{% extends 'base.html.twig' %}

{# {% block title %}Catégorie
	{{ category.name }}
{% endblock %} #}

{% block body %}
	{% for program in programs %}
		<div class="media">
			<div class="media-body">
				<h1 class="mt-0">{{ program.id }}
					-
					<a href="{{ path('program_show', {id: program.id}) }}">{{ program.title }}</h1>
				</a>
				<p>{{ program.summary }}</p>
			</div>
		</div>

		<a href="{{ path('category_index') }}">
			Retour à la liste des catégories
		</a>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

{% endblock %}
