{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Episodes - Création
{% endblock %}

{% block page_title %}
	<h1>Créer un nouvel épisode
	</h1>
	<p class="text-muted">{{program.title}}
		- Saison
		{{season.number}}</p>
{% endblock %}

{% block body %}
	{{ include('episode/_form.html.twig') }}

	<a href="{{ path('season_show', {programSlug: app.request.get("programSlug"), seasonSlug: app.request.get("seasonSlug")}) }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>
{% endblock %}
