{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Séries
{% endblock %}

{% block page_title %}
	<h1>Toutes les séries
	</h1>
{% endblock %}

{% block body %}
	{% if is_granted("ROLE_CONTRIBUTOR") %}
		<a href="{{ path('program_new') }}" class="btn btn-success mb-5" role="button">Créer</a>
	{% endif %}

	{% form_theme searchProgramForm 'bootstrap_5_layout.html.twig' %}

	{{ form_start(searchProgramForm) }}
	{{ form_widget(searchProgramForm) }}
	{# <button>Rechercher</button> #}
	{{ form_end(searchProgramForm) }}

	<div class="accordion accordion-flush mt-5" id="programAccordion">
		{% for program in programs %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-{{program.id}}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{program.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
						{{ program.title }}
					</button>
				</h2>
				<div id="flush-collapse-{{program.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{program.id}}" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<a href="{{ path("category_show", { slug: program.category.slug }) }}">
							<span class="badge bg-light text-dark mb-4">
								{{ program.category.name }}
							</span>
						</a>
						<p>{{ program.summary }}</p>
						<a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-secondary m-4" role="button">Voir la fiche</a>
					</div>
				</div>
			</div>
		{% else %}
			<p class="m-5">
				Aucune série trouvée.
			</p>
		{% endfor %}
	</div>
{% endblock %}
