{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{program.title}}
	Saison
	{{season.number}}
{% endblock %}

{% block page_title %}
	<a href="{{ path("program_show", { id: program.id }) }}" class="text-decoration-none">
		<h1>{{program.title}}
		</h1>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="card">
				<div class=" card-body">
					<h2 class="card-title">Saison
						{{ season.number }}</h2>
					<p class="card-text">{{ season.year }}</p>
					<div class="accordion accordion-flush" id="episodeAccordion">
						{% for episode in episodes %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-heading-{{episode.id}}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{episode.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
										{{ episode.number }}
										-
										{{ episode.title }}
									</button>
								</h2>
								<div id="flush-collapse-{{episode.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{episode.id}}" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body">
										<p>{{ episode.summary }}</p>
									</div>
								</div>
							</div>
						{% else %}
							<p class="m-5">
								Aucun épisode trouvée.
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<a href="{{ path('app_index') }}" class="btn btn-secondary m-4" role="button">
		Retour à l'accueil
	</a>
{% endblock %}
