{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{program.title}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="card my-5">
				<img src="{{program.poster}}" alt="{{ program.title }}" type="button" data-bs-toggle="modal" data-bs-target="#imageModal" class="card-img-top" style="height: 40vh; object-fit: cover; object-position: center top">
				<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="imageModalLabel">{{ program.title }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<img src="{{program.poster}}" alt="{{ program.title }}" type="button" data-bs-tclass="card-img-top">
						</div>
					</div>
				</div>
				<div class=" card-body">
					<a href="{{ path("category_index", { name: program.category }) }}">
						<span class="badge bg-light text-dark my-3">
							{{ program.category.name }}
						</span>
					</a>
					<h2 class="card-title">{{ program.title }}</h2>
					<p class="card-text">{{ program.summary }}</p>
					<hr/>
					<p class="h5">Saisons</p>
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
						<div class="btn-group me-2 flex-wrap" role="group" aria-label="First group">
							{% for season in seasons %}
								<a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}" class="btn btn-secondary" role="button">
									{{season.number}}
								</a>
							{% else %}
								<p class="m-3">
									Aucune saison trouvée.
								</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a href="{{ path('app_index') }}" class="btn btn-secondary m-4" role="button">
		Retour à l'accueil
	</a>
{% endblock %}
