{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{actor.name}}
{% endblock %}

{% block body %}
	<a href="{{ path('actor_edit', {'id': actor.id}) }}" class="btn btn-warning" role="button">Editer</a>
	{{ include('actor/_delete_form.html.twig') }}

	<div class="row">
		<div class="col-12 col-lg-8">
			<div class="card my-5">
				<div class=" card-body">
					<h2 class="card-title">{{ actor.name }}</h2>
					<p class="card-text text-muted">#{{ actor.id }}</p>
					<hr/>
					<p class="h5">Séries</p>
					<ul class="list-group-flush">
						{% for program in actor.programs %}
							<li class="list-group-item">
								<a href="{{ path("program_show", { id: program.id }) }}" class="text-decoration-none ">
									{{ program.title }}
								</a>
							</li>
						{% else %}
							<li class="list-group-item">Aucune série</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<a href="{{ path('actor_index') }}" class="btn btn-secondary m-4" role="button">Retour</a>

{% endblock %}
