{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="/">
				<img src="{{ asset('build/wild.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
				Wild Series
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>
						<ul class="dropdown-menu dropdown-menu" aria-labelledby="categoryDropdown">
							{{ render(controller('App\\Controller\\CategoryController::navbar')) }}
						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path("program_index")}}">Séries</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path("actor_index")}}">Acteurs</a>
					</li>
				</ul>
				{% if app.user %}
					<span class="mx-2">
						<a href="{{ path('user_show', {'id': app.user.id}) }}" class="text-decoration-none">
							{{ app.user.username }}
						</a>
					</span>
					<a href="{{ path('app_logout') }}">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				{% else %}
					<a href="{{ path('app_register') }}" class="text-decoration-none">
						S'enregistrer /
					</a>
					<a href="{{ path('app_login') }}" class="text-decoration-none">
						<span class="mx-2">
							Connexion
						</span>
						<i class="fas fa-sign-in-alt"></i>
					</a>
				{% endif %}
			</div>
		</div>
	</nav>
{% endblock %}
